@model Domain.User.Permission.Role

@{
    Layout = null;
}
<div class="col-md-12">
              <div class="card card-success">
                   <div class="card-header">
                           <h3 class="card-title">گروه جدید</h3>
                    </div>
                   <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="Create" id="myform" >
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="RoleTitle" class="control-label"></label>
                                                <input asp-for="RoleTitle" class="form-control" />
                                                <span asp-validation-for="RoleTitle" class="text-danger"></span>
                                                
                                            </div>
                              <div class="row">
                                  <input type="submit" value="ثبت" class="btn btn-success" />
                                
                              </div>
</form>
</div>
</div>
</div>
    </div>
    </div>
    


