
@{
    ViewData["Title"] = "About";
}

<!-- معرفی دکتر -->
<section class="container pt-5">

    <div class="row ">
        <!-- ستون تصویر (سمت راست) -->
        <div class="col-12 col-md-6 ">
            <img src="/FileUpload/doctor/DoctorImage.jpg"
                 alt="عکس دکتر"
                 class="img-fluid rounded doctor-img">
        </div>
        <!-- ستون متن (سمت چپ) -->
        <div class="col-12 col-md-6 align-content-start">
            <h2 class="doctor-name">دکتر معصومه مرادی</h2>
            <h3 class="doctor-title">دکترای تخصصی تغذیه و رژیم درمانی از دانشگاه تهران</h3>

            <ul class="custom-list mb-4">
                <li>نظام پزشکی ت-2542</li>
                <li>مدرس دانشگاه در رشته های تغذیه و رژیم درمانی و تغذیه ورزشی</li>
                <li>فعالیت در زمینه مشاوره تغذیه و رژیم درمانی از سال 1385</li>
                <li>فعالیتهای آموزشی و پژوهشی در حیطه تغذیه</li>
                <li>انتشار مقالات علمی بین المللی در حوزه تغذیه و رژیم شناسی</li>
                <li>عضو انجمن تغذیه ایران (اتا)</li>
                <li>عضو پیوسته انجمن علمی تغذیه ایران (اعتا)</li>

            </ul>

        </div>


    </div>

</section>

