@{
    ViewData["Title"] = "Rules";
}

<section class="position-relative py-5 " style="background-color: #f8f9fa;">
    <div class="container">
        <div class="row my-4 justify-content-center">
            <div class="col-12">
                <div class="section-title text-center">
                    <h3 class="sub-title mb-4">
                        قوانین و مقررات
                    </h3>
                    <ul class="list-unstyled mt-4">
                        <li class="list-inline-item user text-muted ms-3">
                            <i class="mdi mdi-eye"></i>
                            <span>صفحه اصلی</span>
                        </li>
                        <li class="list-inline-item date text-muted">
                            <i class="mdi mdi-calendar-check"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pt-5">
    <!-- اگر کل صفحه RTL است، می‌توانید این را بردارید -->

    <div class="container py-5">
        <div class="row g-4 align-items-center">
            <div class="col-lg-12 d-flex justify-content-center" >

                <div class="card mb-3 shadow-sm border-0  ">

                    <p class="m-3">
                        رژیم آنلاین دکتر مرادی به صورت 2 هفته یکبار و یا ماهانه و یا 3 ماهه با توجه به نوع رژیم انتخابی و با توجه به صلاحدید دکتر می باشد.

                    </p>
                    <p class="m-3">
                        در صورت داشتن هر گونه مشکل در درخواست رژیم می توانید با شماره مطب 88231136-021 و یا شماره موبایل 09194820425 تماس بگیرید.


                    </p>
                    </div>
            </div>
        </div>
    </div>
</section>
