
@{
    ViewData["Title"] = "ForgetPassword";
}

<div class="col-10 col-md-7 col-lg-5 signup-login-box"><!-- start signup & login box -->
    <img src="assets/images/logo.png">
    @if (TempData["Error"] != null)
    {
        
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["Error"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
       

    }
    <form asp-action="ForgetPassword">

        <div class="input-group signup-login-form mobile-number"><!-- start mobile number input -->
            <input name="Email" type="tel" class="form-control form-control-lg signup-login-input" placeholder="ایمیل خود را وارد فرمایید ">
        </div><!-- end mobile number input -->

        <button type="submit" class="btn btn-danger d-block font-12 mx-auto mb-4 remember-btn"><!-- remember btn -->
            بازیابی
        </button>

        <p>کاربر جدید هستید؟ <a href="signup.html" class="underline">ثبت‌ نام در نیک کالا </a></p>

    </form>
</div>

