@model Core.Dto.ViewModel.User.ResetPasswordViewModel

<div class="col-10 col-md-7 col-lg-5 signup-login-box"><!-- start signup & login box -->
    <img src="assets/images/logo.png">
    <form asp-action="ResetPassword">
        <input type="hidden" asp-for="ActiveCode"/>
        <div class="input-group signup-login-form password"><!-- start password input -->
            <input asp-for="PassWord" type="password" class="form-control form-control-lg signup-login-input" placeholder="رمز عبور جدید">
        </div><!-- end password input -->

        <div class="input-group signup-login-form password"><!-- start password input -->
            <input asp-for="RePassword" type="password" class="form-control form-control-lg signup-login-input" placeholder="تکرار رمز عبور ">
        </div><!-- end password input -->

        <button  type="submit" class="btn btn-danger d-block font-12 mx-auto mb-4 remember-btn"><!-- remember btn -->
            ذخیره
        </button>

    </form>
</div>