<footer class="footer-simple pt-4 pb-4">
    <div class="container footer-inner">

        <!-- ردیف ۱ -->
        <div class="row align-items-start flex-wrap">
            <!-- سمت راست: دکمه‌ها -->
            <div class="col-lg-8 col-md-12 footer-links text-lg-start text-center">
                <h6 class="footer-title">دسترسی سریع</h6>
                <div>
                    <a asp-area="" asp-controller="Home" asp-action="DietDetail" asp-route-DietId="1">
                        رژیم کاهش وزن
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="DietDetail" asp-route-DietId="2">
                        رژیم افزایش وزن
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="DietDetail" asp-route-DietId="3">
                        رژیم ورزشی
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="DietDetail" asp-route-DietId="4">
                        رژیم کاهش وزن گیاهخواران
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="DietDetail" asp-route-DietId="6">
                        رژیم تعیین جنسیت جنین قبل از بارداری
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="DietDetail" asp-route-DietId="12">
                        رژیم بیماران کلیوی
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-controller="Home" asp-action="DietDetail" asp-route-DietId="13">
                        رژیم بیماران دیابتی
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="DietDetail" asp-route-DietId="14">
                        رژیم دوران بارداری
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="DietDetail" asp-route-DietId="15">
                        رژیم کاهش وزن دوران شیردهی
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="DietDetail" asp-route-DietId="16">
                        رژیم کاهش وزن خانواده (2 نفر)
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="DietDetail" asp-route-DietId="5">
                        رژیم کاهش وزن خانواده (3 نفر)
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    
                </div>
            </div>
            <!-- سمت چپ: آدرس و نماد -->
            <div class="col-lg-4 col-md-12 footer-contact">
                <h6 class="footer-title">راه‌های ارتباطی</h6>
                <p class="small mb-1" style="color:white">آدرس: تهران، گیشا، بین خیابان 12 و 14، ساختمان خاتم، طبقه اول، واحد 2.</p>

                <p class="small mb-1" style="color:white">ساعت کاری: مطب: شنبه،یکشنبه و چهارشنبه ساعت 13 تا 19 - روزهای دوشنبه و پنجشنبه ساعت 10 صبح تا 15</p>
                <p class="small mb-2" style="color:white">021-88231136 - 09194820425</p>


                
                <img src="/FileUpload/Doctor/enamad.png" alt="نماد اعتماد" class="footer-enamad mb-2">
                <div class="footer-social">
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-telegram"></i></a>
                    <a href="#"><i class="bi bi-controller"></i></a>
                </div>
            </div>

          
        </div>

        <!-- ردیف ۲ -->
        <div class="row align-items-center">
            <!-- سمت راست: لوگو -->
            <div class="col-lg-1 col-md-12 text-lg-start text-center">
                <img src="/FileUpload/Slider/logo-m.png" alt="لوگو" class="footer-logo">
            </div>
            <!-- سمت چپ: توضیح و کپی‌رایت -->
            <div class="col-lg-11 col-md-12 footer-desc text-white small">
دکتر معصومه مرادی - متخصص تغذیه و رژیم درمانی - نظام پزشکی ت-2542 دکترای حرفه ای تغذیه و رژیم درمانی از دانشگاه علوم پزشکی تهران مدرس دانشگاه در رشته های تغذیه و رژیم درمانی و تغذیه ورزشی فعالیت در زمینه مشاوره تغذیه و رژیم درمانی از سال 1385 فعالیتهای آموزشی و پژوهشی در حیطه تغذیه انتشار مقالات علمی بین المللی در حوزه تغذیه و رژیم شناسی عضو انجمن تغذیه ایران (اتا) عضو پیوسته انجمن علمی تغذیه ایران (اعتا)              
<div class="mt-2">© کلیه حقوق متعلق به سایت محفوظ می‌باشد.</div>
            </div>
           
        </div>

    </div>
    </footer>
