@using Core.Dto.ViewModel.main
@model PopUpEditVm
@{
    ViewData["Title"] = "ویرایش اعلان";
}

<div class="col-md-12">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">اعلان جدید</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="ImageFile" class="control-label"></label>
                                    <input type="file" asp-for="ImageFile" class="form-control" />
                                    <span asp-validation-for="ImageFile" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="IsActive" class="control-label"></label>
                                    <input asp-for="IsActive" class="form-control" />
                                    <span asp-validation-for="IsActive" class="text-danger"></span>

                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label asp-for="Descript" class="control-label"></label>
                            <textarea asp-for="Descript" class="form-control" cols="5" rows="5"></textarea>
                            <span asp-validation-for="Descript" class="text-danger"></span>

                        </div>


                        <div class="row">
                            <input type="submit" value="ثبت" class="btn btn-success" />

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


